.button {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 17px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #e67e22;
  box-shadow: 0px 5px 0px 0px #CD6509;
  }

 .button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
  }
  .button:hover{
    background-color: #FF983C;
    transition-duration: 0.4s;
    cursor: pointer;
  }
 