<br>
<div class="row">
    <div class="card"  style="display: inline-block; height: 150px; width: 150px;" (click)="onOrder('Gin')">
        <img src="../../../assets/drinks/Gin.jpg" alt="Gin" style="width:50%">
        <div class="container">
          <h4><b>Gin</b></h4>
        </div>
    </div>
    
    <div class="card" style="display: inline-block; height: 150px; width: 150px;" (click)="onOrder('Rum')">
        <img src="../../../assets/drinks/Rum.jpg" alt="Rum" style="width:50%">
        <div class="container">
          <h4><b>Rum</b></h4>
        </div>
    </div>

    <div class="card" style="display: inline-block; height: 150px; width: 150px;" (click)="onOrder('Tequila')" >
        <img src="../../../assets/drinks/Tequila.jpg" alt="Tequila" style="width:33.5%">
        <div class="container">
          <h4><b>Tequila</b></h4>
        </div>
    </div>
</div>
<div class="row2">
    <div class="card"  style="display: inline-block; height: 150px; width: 150px;" (click)="onOrder('Beer')">
        <img src="../../../assets/drinks/Beer.jpg" alt="Beer" style="width:50%">
        <div class="container">
          <h4><b>Beer</b></h4>
        </div>
    </div>
    
    <div class="card" style="display: inline-block; height: 150px; width: 150px;" (click)="onOrder('Bourbon')">
        <img src="../../../assets/drinks/Bourbon.jpg" alt="Bourbon" style="width:33.5%">
        <div class="container">
          <h4><b>Bourbon</b></h4>
        </div>
    </div>

    <div class="card" style="display: inline-block; height: 150px; width: 150px;" (click)="onOrder('Whiskey')">
        <img src="../../../assets/drinks/Whiskey.jpg" alt="Whiskey" style="width:50.3%">
        <div class="container">
          <h4><b>Whiskey</b></h4>
        </div>
    </div>
</div>
